{% extends "base_user.html" %}

{% block title %} E-Commerce: MVC {% endblock %}

{% block body %}

{% for p in allCategoryProducts %}
{% if p.products_status == "1"%}
<div class="productContainer">
  <a href="{{ base_url }}product/view/{{ p.products_urlkey }}">
    <div class="productPicture">
      <img class="productImage" src="{{ base_url }}src/images/products/{{ p.products_image }}">
    </div>
  </a>
  <div class="productName"><label>{{ p.products_name }}</label></div>
  <div class="product"><label>₹ {{ p.products_price }}</label></div>
  <div class="product"><label>In Stock: {{ p.products_stock }} Units</label></div>
</div>
{% else %}
<div class="productContainer">
    <div class="productPictureUnavailable">
      	<img class="productImageUnavailable" src="{{ base_url }}src/images/products/{{ p.products_image }}">
  		<div class="centered"><label style="color: red; padding-left: 20px">Currently Unavailable</label></div>
    </div>
  <div class="productName"><label>{{ p.products_name }}</label></div>
  <div class="product"><label>₹ {{ p.products_price }}</label></div>
  <div class="product"><label>In Stock: {{ p.products_stock }} Units</label></div>
</div>
{% endif %}


{% endfor %}

{% endblock %}