{% extends "base_user.html" %}

{% block title %} {% for p in specificProductDetails %} {{ p.products_name }} {% endfor %}: MVC {% endblock %}

{% block body %}

{% for p in specificProductDetails %}
<div style="border: 2px solid black; margin-top: 20px;">
    <div style="float: left; margin: auto; margin-top: 50px; margin-left: 10%;">
        <div>
            <img class="productImageDetail" src="{{ base_url }}src/images/products/{{ p.products_image }}">
        </div>
    </div>

    <div style="width: 50%; float: right; margin: auto; margin-top: 40px; margin-right: 100px; margin-bottom: 80px">
        <div style="border: 1.5px solid black; margin: auto; padding: 40px">
            <div class="form-group">
                <label style="font-size: 280%; font-weight: bolder;"> {{ p.products_name }} </label>
            </div>
            
            <div class="form-group" style="margin-top: 10px;">
                <label style="font-size: 150%; color: red">₹ {{ p.products_price }} </label>
                <form method="POST">
                    <div class="uk-form-width-small" style="width: 160px; margin-top: 10px;">
                        <label>Choose Quantity</label>
                        <select id="selectCartQuantity" class="uk-select">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    <button id="btnAddToCart" class="uk-button uk-button-default">Add To Cart</button>
                    </div>
                </form>
            </div>
            
            <div class="form-group" style="margin-top: 60px;">
                <label style="font-size: 100%;">
                    {% if p.products_status == "Available" %}
                      <label style="font-size: 100%; color: green">Hurry! Only {{ p.products_stock }} Units {{ p.products_status }}! 
                      </label>
                    {% elseif p.products_status == "Not Available" %}
                      <label style="font-size: 100%; color: red">(Currently {{ p.products_status }})
                      </label>
                    {% endif %}
                </label>
            </div>

            <div class="form-group" style="margin-top: 10px;">
                <label style="font-size: 100%;">{{ p.products_description }} </label>
            </div>

            <div class="form-group" style="margin-top: 10px;">
                <label style="font-size: 100%;">{{ p.products_shortdescription }} </label>
            </div>
        </div>
    </div>
</div>
{% endfor %}


<script type="text/javascript">
    $("#btnAddToCart").click(function(){
        var qty = $("#selectCartQuantity").val();
        var dataString = {quantity:qty};

        $.ajax({
            type: "POST",
            url: "AddToCart.php",
            data: dataString,
            
            success: function(result){
                alert(result);
            }
        });
    });

</script>
<script type="text/javascript" src="{{ base_url }}App/Views/CSS/cart.js"></script>
{% endblock %}