<!DOCTYPE html>
<html>
<head>
	<title>User Registration: Vehicle Service Registration</title>
</head>
<body>
	<h1>User Registration</h1>
	<table>
		<form action="{{ base_url }}register/userdata" method="POST">
		<tr>
			<td>FirstName</td>
			<td><input type="text" name="user[txtFirstName]"></td>
		</tr>

		<tr>
			<td>LastName</td>
			<td><input type="text" name="user[txtLastName]"></td>
		</tr>

		<tr>
			<td>Email</td>
			<td><input type="text" name="user[txtEmail]"></td>
		</tr>

		<tr>
			<td>Password</td>
			<td><input type="password" name="user[txtPassword]"></td>
		</tr>

		<tr>
			<td>PhoneNumber</td>
			<td><input type="number" name="user[txtPhoneNumber]"></td>
		</tr>






		<tr>
			<td>Street</td>
			<td><textarea name="address[txtStreet]" cols="40" rows="10"></textarea></td>
		</tr>

		<tr>
			<td>City</td>
			<td><input type="text" name="address[txtCity]"></td>
		</tr>

		<tr>
			<td>State</td>
			<td><input type="text" name="address[txtState]"></td>
		</tr>

		<tr>
			<td>Zipcode</td>
			<td><input type="text" name="address[txtZipCode]"></td>
		</tr>

		<tr>
			<td>Country</td>
			<td><input type="text" name="address[txtCountry]"></td>
		</tr>

		<tr>
			<td><input type="submit" name="btnRegister" value="Register"></td>
		</tr>
		</form>
	</table>
</body>
</html>