<!DOCTYPE html>
<html>
<head>
	<title>Vehicle Service Registration</title>
	<link href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="Stylesheet"
        type="text/css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script language="javascript">
        $(document).ready(function () {
            $("#txtdate").datepicker({
                minDate: 1
            });
        });
    </script>
</head>
<body>

	<h1>Vehicle Service Registration</h1>
	<table>
		<form action="{{ base_url }}register/checkTimeslot" method="POST">
		<tr>
			<td>Title</td>
			<td><input type="text" name="vehicle[txtTitle]"></td>
		</tr>

		<tr>
			<td>Vehicle Number</td>
			<td><input type="text" name="vehicle[txtVehicleNumber]"></td>
		</tr>

		<tr>
			<td>User License Number</td>
			<td><input type="text" name="vehicle[txtUserLicenceNumber]"></td>
		</tr>

		<tr>
			<td>Date</td>
			<td><input id="txtdate" type="text" name="vehicle[date]"></td>
		</tr>

		<tr>
			<td>Timeslot</td>
			<td>
				<select name="vehicle[timeslot]">
					<option value="9-10">9-10</option>
					<option value="10-11">10-11</option>
					<option value="11-12">11-12</option>
					<option value="12-1">12-1</option>
					<option value="1-2">1-2</option>
					<option value="2-3">2-3</option>
					<option value="3-4">3-4</option>
					<option value="4-5">4-5</option>
					<option value="5-6">5-6</option>
				</select>
			</td>
		</tr>

		<tr>
			<td>Vehicle Issue</td>
			<td><input type="text" name="vehicle[txtVehiceIssue]"></td>
		</tr>

		<tr>
			<td>Service Center</td>
			<td><input type="text" name="vehicle[txtServiceCenter]"></td>
		</tr>

		<tr>
			<td><input type="submit" value="Submit" name="btnRegisterVehicle"></td>
			<td><a href="{{ base_url }}home">Back to Homepage</a></td>
		</tr>
	</form>
	</table>


	
</body>
</html>