{% extends "base.html" %}

{% block title %} Add Category : Admin Dashboard: MVC {% endblock %}

{% block body %}
	<h1>Add Category : Admin Dashboard</h1>
	
	<div class='mainContainer'>
	<form action="add" method="post" enctype="multipart/form-data">
		<table border="1">
			<tr>
				<td>Category Name</td>
				<td><input type="text" name="txtCategoryName"></td>
			</tr>

			<tr>
				<td>Category Image</td>
				<td><input type="file" name="imgCategoryImage"></td>
			</tr>

			<tr>
				<td>Category Status</td>
				<td>
					<select name="selectCategoryStatus">
						<option value="0">Not Available</option>
						<option value="1">Available</option>
					</select>
				</td>
			</tr>

			<tr>
				<td>Category Description</td>
				<td><textarea name="txtCategoryDescription" cols=40 rows=8></textarea></td>
			</tr>

			<tr>
				<td>Category Parent Category</td>
				<td><input type="number" maxlength="8" name="txtCategoryParent"></td>
			</tr>

			<tr>
				<td colspan="2"><input type="submit" name="btnSubmitCategory" value="Submit Category"></td>
			</tr>
		</table>
	</form><br><br>
	<a href="http://localhost/cybercom/extra/mvc/admin/dashboard">Dashboard</a>  |  
	<a href="http://localhost/cybercom/extra/mvc/admin/categories">Manage Category</a><br>
	</div>
	
{% endblock %}