<!DOCTYPE html>
<html>
<head>
	<title>User Homepage: Vehicle Registration</title>
</head>
<body>
	<a href="{{ base_url }}register/vehicle">Add Vehicle Service Registration</a>
	<table>
			<tr>
				<td>Registrations Title</td>
				<td>Registrations Vehicle Number</td>
				<td>Registrations Licence Number</td>
				<td>Registrations Date</td>
				<td>Registrations Timeslot</td>
				<td>Registrations Vehicle Issue</td>
				<td>Registrations Service Center</td>
				<td>Registrations Status</td>
				<td>Registrations Created On</td>
				<td>Registrations Updated On</td>
			</tr>
		{% for vs in allVehicleServices %}
			<tr>
				<td>{{ vs.service_registrations_title }}</td>
				<td>{{ vs.service_registrations_vehiclenumber }}</td>
				<td>{{ vs.service_registrations_userlicencenumber }}</td>
				<td>{{ vs.service_registrations_date }}</td>
				<td>{{ vs.service_registrations_timeslot }}</td>
				<td>{{ vs.service_registrations_vehicleissue }}</td>
				<td>{{ vs.service_registrations_servicecenter }}</td>
				<td>{{ vs.service_registrations_status }}</td>
				<td>{{ vs.service_registrations_createddate }}</td>
				<td>{{ vs.service_registrations_updateddate }}</td>
			</tr>
		{% endfor %}
	</table>
</body>
</html>